<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camping Gear Website | CodingNepal</title>
    <link rel="stylesheet" href="..\static\css\index.css" />
    <!-- Fontawesome Link for Icons -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link rel="stylesheet" href="..\static\css\nav.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  </head>
  <body>
    <header>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
              <i class="fas fa-bars"></i>
            </label>
            <label class="logo">Harmony Guru</label>
            <ul>
              <li><a href="home">Home</a></li>
            </ul>
          </nav>     
    </header>
    <section class="homepage" id="home">
      <div class="content">
        <div class="text">
          <h1>Feeling Stressed? Let's Check Together</h1>
          <p>
            Explore your stress levels and discover ways to manage them effectively. 
            <br> Take our quick stress assessment below.</p>
        </div>
        <a href="test-your-stress">Let's Test</a>
      </div>
    </section>
    <footer>

        <span>Copyright © 2024 All Rights Reserved</span>

    </footer>

  </body>
</html>